# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# knitr and R markdown default cache directories
*_cache/
/cache/
*.html
src/*/*/figure-html/*
*~$*xlsx

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Others
data/ml_input/*
data/ml_input_archive/*
data/ml_output/*
data/intermediate_integration_results/*
src/analyses/slurm_logs/*
src/analyses/minttea_comparisons_results/*
src/ml_pipeline/slurm_logs/*
slurm_logs/*
*.cys
